.cartcontent {
  &__link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  &__link-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    border-radius: var(--radius);
    letter-spacing: var(--spacing);
    font-weight: 400;
    cursor: pointer;
  }
  &__clear-btn {
    background: var(--clr-black);
  }
}
