.singleproduct {
  &__product-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 2rem;
  }
  &__price {
    color: var(--clr-primary-5);
  }
  &__desc {
    line-height: 2;
    max-width: 45em;
  }
  &__info {
    text-transform: capitalize;
    width: 300px;
    display: grid;
    grid-template-columns: 125px 1fr;
    span {
      font-weight: 700;
    }
  }

  @media (max-width: 768px) {
    &__product-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .price {
      font-size: 1.25rem;
    }
  }
}
